@import "tailwindcss";

  /* Definición de fuentes personalizadas */
        @theme {
            --font-montserrat: "Montserrat", sans-serif;
            --font-lilitaone: "Lilita One", sans-serif;
            --font-poppins: "Poppins", sans-serif;
            --font-robotc: "Roboto Condensed", sans-serif;
            
            /* Breakpoints */
            --breakpoint-sm: 640px;
            --breakpoint-md: 768px;
            --breakpoint-lg: 1024px;
            --breakpoint-xl: 1280px;
            --breakpoint-2xl: 1536px;
            
            /* Colores personalizados */
            --color-amarillo: #FFDC00;
            --color-verde: #17E601;
            --color-naranja: #FF8700;
            --color-plomo: #F2F2F2;
            --color-rojo: #FA0909;
            --color-azul: #0C43FF;
            --color-celeste: #10FDF9;
            --color-transparente: #FEFFDE;
            --color-negro: #4D4D4D;
            --color-blanco: #FFFFFF;
        }

        /* Aplicar fuente Montserrat por defecto */
        html {
            font-family: var(--font-montserrat);
        }

        

